crewai
crewai_tools
python-dotenv
flask
flask-cors
langchain
langchain-google-genai
beautifulsoup4
requests
nest_asyncio


alpha_vantage
Flask
Flask-Cors
langchain
crewai
crewai-tools
typing-extensions
